body {
  /*background: url('../img/body.gif') repeat;*/
  background-color:#222222;
  padding: 0;
  margin: 0;
}
body, #entry {
  color: black;
}
body,#login-form{color:white;}
#content{max-width:1000px;margin:0 auto;background: url('../img/body.gif') repeat;}
#app{max-width:1000px;margin:0 auto;min-height:100%;background: url('../img/body.gif') repeat;height:100%;}
body, table {
  font-family: DejaVu Sans Mono, fixed; 
  font-size: 12pt;
  line-height: 110%;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }

#loading, #connect {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
  font-family: DejaVu Sans Mono, fixed; 
  width: 30em;
  border: 0;
}

#toolbar {
max-width:1000px;
  position: fixed;
  color: gray;
  width: 100%; 
  bottom: 0;
  background: url('../img/body.gif') repeat;
}

#entry {
  width: 100%;
  height:100%;
  /*font-size: inherit;*/
  padding: 5px;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
}

#log {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  padding-bottom: 10.7em; 
  background: inherit;
  overflow: hidden;
}

#log img{min-width:40px;}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #888; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #888; }
.message {  margin: 0.1em 0; color:black;}
.message td {  vertical-align: top;}
.nick {   font-weight: bold;  padding: 0 1em 0 0.5em;width:170px;}
.nick a {  color: inherit;}
#toolbar ul {  margin: 0;  padding: 0;  list-style: none;}
#toolbar li {display: block;   float: left;  margin: 0 2em 0 0;}
#usersLink {color: inherit;}
button {cursor:pointer;}
.popover-inner {width: 1000px;}
.popover {width: 1000px; height:550px;color:black;}
.popover img{max-width:50px;max-height:40px;cursor:pointer;}
.popover-content div{width:50px!important;height:40px!important; margin-top:5px!important;text-align:center!important;float:left!important;}

